<div class="flex flex-col max-w-full h-full">
  <h1 class="text-8xl text-center pt-20">Agenda</h1>
  <div class="flex justify-end items-center w-full px-4 lg:w-1/3 h-auto mx-auto">
    <button (click)="showModal()">
      <i
        class="material-icons text-4xl hover:translate-y-[0.5px] hover:text-font-todo hover:opacity-70"
      >
        add_circle
      </i>
    </button>
  </div>
  <div
    class="grid grid-flow-row pb-20 grid-cols-2 lg:w-1/3 max-w-full mx-auto mt-10 gap-4 lg:gap-14 overflow-y-visible"
  >
    <ng-container *ngFor="let item of getlist">
      <app-todo-card [todo]="item" (onTodoDelete)="getAll()"></app-todo-card
    ></ng-container>
  
  </div>

  <ng-container *ngIf="modalIsActive == true">
    <app-modal-form (closeEvent)="closeModal()" (onTodoAdded)="getAll()"></app-modal-form>
  </ng-container>
</div>
